<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>بازیابی رمز عبور</title>
</head>
<body>
<p style="direction: rtl; font-width:large; ">
    سلام {{ username }}
    <br>
    {% if mail_type == 'verify' %}
        شما در سایت
        <strong>نمونه کار</strong>
        ت نام کرده اید. جهت تایید ایمیل بر روی لینک زیر کلیک کنید. اگر شما از این ایمیل اطلاعی ندارید، لطفا آن را نادیده بگیرید
    {% else %}
        شما در خواست بازیابی رمز عبور کرده اید.جهت بازیابی رمز عبور بر روی لینک زیر کلیک کنید. اگر شما از این ایمیل اطلاعی ندارید،
        لطفا آن را نادیده بگیرید
    {% endif %}
</p>
<br/>
<br/>
{{ url }}

</body>
</html>