


user.txt

#دیتا بیس
backend/db.sqlite3


#لاگهای گیت
logs.md

#کارهای باقی مانده
remaining.md

#اطلاعات ارسال کننده ی ایمیل ها
backend/first/mail_info.py

#محیط مجازی
backend/venv/


#فایل های pycharm
.idea/


#تصاویر پروفایل
backend/media/
